<aside id="sidebar-left">
    <h4 class="sidebar-title">الإشعارات</h4>
    <div id="contact-list-wrapper">
        <div id="contact-list">
            <div id="tbl">
                <!--  <ul>

              <li>

    <div class="row">

        <div class="col-md-3">
            <span class="avatar">-->
                @*<img src="~/Images/avatar3.png" class="img-circle" alt="">*@
                <!--<i class="on animated bounceIn"></i>
                </span>
            </div>
            <div class="col-md-9">
                <div class="name">Ashley Bell </div>
                <small class="location text-muted"><i class="icon-pointer"></i> Sarasota, FL</small>
            </div>
        </div>


            </li>
                </ul>-->
            </div>
        </div>
    </div>
</aside>
<!--/sidebar right end-->
<style>

    #sidebar-left {
        width: 240px;
        height: 69%;
        background: #fff;
        z-index: 100;
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;
        top: 0;
        left: 0;
        padding-top: 72px;
        display: none;
        box-shadow: 0 0 9px rgba(190, 190, 190, 0.5);
    }
        #sidebar-left .sidebar-title {
            color: #e8e8e8;
            padding: 10px;
            background-color: #1d212a;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 0.75em;
        }
    .sidebar-left-open {
        display: block !important;
    }
</style>